APP_NODE_1=10.60.0.11:8080
APP_NODE_2=10.60.0.12:8080
TLS_CERT_DIRECTORY=/opt/openfinance/certs
TLS_CERT_NAME=platform.pem
EDGE_BIND_ADDRESS=0.0.0.0
ADMIN_BIND_ADDRESS=127.0.0.1
HAPROXY_STATS_PORT=8404

