*
!platform/
!platform/**
!packages/
!packages/**

platform/.env
platform/.env.*
!platform/.env.example
platform/vendor/
platform/node_modules/
platform/public/build/
platform/bootstrap/cache/*
!platform/bootstrap/cache/.gitignore
platform/storage/logs/*
platform/storage/framework/cache/*
platform/storage/framework/sessions/*
platform/storage/framework/views/*
platform/database/database.sqlite
